.about-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.about-container div {
  max-width: 800px;
}

.about-container h1 {
  font-size: 1.5em;
}

.about-container p {
  padding-top: 20px;
  font-size: 1.1em;
  line-height: 2;
}

.about-container hr {
  width: 50%;
}
