nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
  }
  .hamburger{
    display: block;
  }
  .icon-mobile{
    width: 20%;
    padding: 10px;
  }
}

.icon-hamburger{
  height: 30px;
}
button.icon{
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  display: block;
  position: absolute;
  top: 10px;
}
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: var(--mdc-theme-primary);
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}
.link-list{
  text-align: center;
}
.link{
  color: var(--mdc-theme-on-primary);
  margin: 20px;
  text-decoration: none;
}